<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top black-bg d-none d-md-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li>
                                        <!---beterbocekler2.tr.gg kod başlangıc--->
                                        <script language="JavaScript"><!--
                                            var now = new Date(); var yr = now.getYear(); var mName = now.getMonth() + 1; var dName = now.getDay() + 1;
                                            var yr_str = " 19"; // yil 2000 iken, 19 sayisinin ï¿½ikmamasini saglayacak string
                                            var dayNr = ((now.getDate() < 10) ? "" : "") + now.getDate(); if (dName == 1) Day = "Pazar"; if (dName == 2) Day = "Pazartesi"; if (dName == 3) Day = "Salı"; if (dName == 4) Day = "Çarşamba"; if (dName == 5) Day = "Perşembe"; if (dName == 6) Day = "Cuma HAYIRLI CUMALAR"; if (dName == 7) Day = "Cumartesi"; if (mName == 1) Month = "Ocak"; if (mName == 2) Month = "Şubat"; if (mName == 3) Month = "Mart";
                                            if (mName == 4) Month = "Nisan"; if (mName == 5) Month = "Mayıs"; if (mName == 6) Month = "Haziran"; if (mName == 7) Month = "Temmuz"; if (mName == 8) Month = "Ağustos"; if (mName == 9) Month = "Eylül";
                                            if (mName == 10) Month = "Ekim"; if (mName == 11) Month = "Kasım"; if (mName == 12) Month = "Aralık";
                                            if (yr > 99) {
                                                yr_str = " ";
                                                if (yr < 2000) yr += 1900;
                                            } var todaysDate = (" " + dayNr + " " + Month + yr_str + yr + "" + ", " + Day + ""); document.open(); document.write("<FONT face=Tahoma SIZE=4 color=white>" + todaysDate + "</FONT>");// -->
                                        </script>  <!---beterbocekler2.tr.gg kod bitişi--->
                                    </li>
                                    <li>
                                     Burayı doldur
                                    </li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-social">
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-mid d-none d-md-block">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="logo">
                                <a asp-action="Index" asp-controller="Home"><img src="~/lib/template/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="header-banner f-right ">
                                <img src="~/lib/template/img/hero/header_card.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                            <!-- sticky -->
                            <div class="sticky-logo">
                                <a  asp-action="Index" asp-controller="Home"><img src="~/lib/template/img/logo/logo.png" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-md-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a  asp-action="Index" asp-controller="Home">Home</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="latest_news.html">Latest News</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">Element</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Blog Details</a></li>
                                                <li><a href="details.html">Categori Details</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4">
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <i class="fas fa-search special-tag"></i>
                                <div class="search-box">
                                    <form action="#">
                                        <input type="text" placeholder="Search">

                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-md-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>