<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - FinalUygulama</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />



    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/lib/template/img/favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="~/lib/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/template/css/ticker-style.css">
    <link rel="stylesheet" href="~/lib/template/css/flaticon.css">
    <link rel="stylesheet" href="~/lib/template/css/slicknav.css">
    <link rel="stylesheet" href="~/lib/template/css/animate.min.css">
    <link rel="stylesheet" href="~/lib/template/css/magnific-popup.css">
    <link rel="stylesheet" href="~/lib/template/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/lib/template/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/template/css/slick.css">
    <link rel="stylesheet" href="~/lib/template/css/nice-select.css">
    <link rel="stylesheet" href="~/lib/template/css/style.css">
    <meta name="google-site-verification" content="w77vXgqtk7FTYq7LuVrGtQPIhNcLzhlHRs5Ld1miQxc" />
</head>
<body>

    @await Component.InvokeAsync("Header")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("Footer")


    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/lib/template/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/lib/template/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/lib/template/js/popper.min.js"></script>
    <script src="~/lib/template/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/lib/template/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/lib/template/js/owl.carousel.min.js"></script>
    <script src="~/lib/template/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/lib/template/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/lib/template/js/wow.min.js"></script>
    <script src="~/lib/template/js/animated.headline.js"></script>
    <script src="~/lib/template/js/jquery.magnific-popup.js"></script>

    <!-- Breaking New Pluging -->
    <script src="~/lib/template/js/jquery.ticker.js"></script>
    <script src="~/lib/template/js/site.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/lib/template/js/jquery.scrollUp.min.js"></script>
    <script src="~/lib/template/js/jquery.nice-select.min.js"></script>
    <script src="~/lib/template/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/lib/template/js/contact.js"></script>
    <script src="~/lib/template/js/jquery.form.js"></script>
    <script src="~/lib/template/js/jquery.validate.min.js"></script>
    <script src="~/lib/template/js/mail-script.js"></script>
    <script src="~/lib/template/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/lib/template/js/plugins.js"></script>
    <script src="~/lib/template/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
